@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Document Management System (DMS)";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Home</h3>
<ol class="round">
    <li class="one">
        
    </li>

    <li class="two">
        
    </li>

    <li class="three">
        
    </li>
</ol>


@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {

        });
        
    </script>
}